<h1>About</h1>
<br />
<h4><strong>Our mission:</strong></h4>
<p>Get Your Anger Out!</p>
<p>
Use this site, make this <strong>your</strong> site. Let the anger flow out of you. Make yourself feel better. Allow yourself to relieve the pain before you relieve your pain on others, physically or verbally. Maybe after hearing other people's troubles, you may feel that you are not alone.
</p>
<p>
This site exists for anyone needing to <strong>vent</strong>.<br /> 
This site exists for <strong>you</strong>.<br />
I hope you will find this site useful.
</p>