<tr>
  <td class="ventpost">
    <span class="content"><%= ventpost.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(ventpost.created_at) %> ago.
    </span>
  </td>
</tr>